body{
    position: relative;
    background-image: url(../images/full-bloom.png);
    background-color: #dddddd;
}

.container {
    background-color: white;
    margin-top: 30px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar {
    padding: 0 4rem !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-brand  {
    font-family: 'Staatliches', cursive;
    font-size: 2rem !important;
    background-color: #8550b1;
    color: white !important;
    padding: 1rem;
}

.nav-link {
    font-size: 20px;
    font-family: 'Abel', sans-serif;    
}

h1 {
    font-size: 2em !important;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    color: #8550b1;
    font-weight: bold;
    padding-top: 30px;
}

hr {
    padding: 15px 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

p {
    line-height: 30px;
    color: #777777;
    font-family: 'Abel', sans-serif;    
}

.card {
    border: 5px solid #8550b1 !important;
    border-radius: 8px;
    margin-bottom: 15px;
}

.caption {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 12px;
    font-family: 'Staatliches', cursive;
    background-color: #8550b1;
    color: white;
    text-align:right;
    font-size: 20px;
    letter-spacing: 2px;
}

.form-group {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
}

.btn-info {
    font-family: 'Staatliches', cursive;
    background-color: #8550b1 !important;
    letter-spacing: 1px;
    border-width: 0 !important;
}


.footer {
    position: absolute;
    bottom: -600px !important;
    width: 100%;
    height: 60px;
    background-color: #777777;
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: #8550b1;
    margin-bottom: 0;
  }

  h4 {
    font-family: 'Abel', sans-serif;
    font-size: 16px !important;
    text-align: center;
    color: white;
  }
